[user]
	name = MH4GF
	email = h.miyagi.cnw@gmail.com
[alias]
	cma = commit --amend
	co = "!f() { [ $# -eq 0 ] && git checkout $(git branch --sort=-authordate | perl -a -nle '$F[0] ne \"*\" and print $F[0]' | peco) || git checkout $@; }; f"
	com = "!f() { remote_head=$(git symbolic-ref --quiet refs/remotes/origin/HEAD); remote_head=${remote_head#refs/remotes/origin/}; git checkout ${remote_head:-$(git rev-parse --symbolic --verify --quiet main || git rev-parse --symbolic --verify --quiet master)}; git pull; git branch --merged | grep -v \"*\" | xargs -I % git branch -d %; }; f"
	cp = cherry-pick
[ghq]
	root = ~/ghq
[core]
	editor = code --wait
	symlinks = true
	commentChar = >
[fetch]
	prune = true
[pull]
	rebase = true
[init]
	defaultBranch = main
[include]
	path = ~/.gitconfig.local
[commit]
	gpgsign = true
[github-nippou]
	user = MH4GF
