[user]
	name = MH4GF
	email = h.miyagi.cnw@gmail.com
[alias]
	cma = commit --amend
	co = "!f() { [ $# -eq 0 ] && git checkout $(git branch --sort=-authordate | perl -a -nle '$F[0] ne \"*\" and print $F[0]' | peco) || git checkout $@; }; f"
	com = "!f() { remote_head=$(git symbolic-ref --quiet refs/remotes/origin/HEAD); remote_head=${remote_head#refs/remotes/origin/}; git checkout ${remote_head:-$(git rev-parse --symbolic --verify --quiet main || git rev-parse --symbolic --verify --quiet master)}; git pull; git branch --merged | grep -v \"*\" | xargs -I % git branch -d %; }; f"
	delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
	do = "!f() { if [ -z \"$1\" ]; then echo 'commit message is empty'; exit 1; fi; git commit --allow-empty -m \"$@\"; }; f"
	save = "!f() { wip_commit=$(git log -n1 --format=%H); git commit --fixup \"$wip_commit\"; git rebase -i --autosquash \"$wip_commit\"~1; }; f"
[ghq]
	root = ~/ghq
[core]
	excludesfile = ~/.gitignore_global
[pull]
	rebase = false
[init]
	defaultBranch = main
